# Database
POSTGRES_DB=cuckoo
POSTGRES_USER=cuckoo
POSTGRES_PASSWORD=password

DB_NAME=cuckoo
DB_USER=cuckoo
DB_PASSWORD=password
DB_HOST=127.0.0.1
DB_PORT=5432

# PGAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=password