--
-- PostgreSQL database dump
--

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: application_application; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.application_application (
    id bigint NOT NULL,
    start_at timestamp with time zone NOT NULL,
    end_at timestamp with time zone,
    is_progress boolean NOT NULL,
    initial_snapshot jsonb,
    application_type_id_id bigint,
    vehicle_id_id bigint
);


ALTER TABLE public.application_application OWNER TO cuckoo;

--
-- Name: application_application_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.application_application ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.application_application_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO cuckoo;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO cuckoo;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO cuckoo;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO cuckoo;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO cuckoo;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO cuckoo;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cache_cache; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.cache_cache (
    id bigint NOT NULL,
    initial_snapshot jsonb,
    sp_id_id bigint,
    task_type_id_id bigint NOT NULL
);


ALTER TABLE public.cache_cache OWNER TO cuckoo;

--
-- Name: cache_cache_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.cache_cache ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cache_cache_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dag_applicationtype; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.dag_applicationtype (
    id bigint NOT NULL,
    name text NOT NULL,
    deadline integer NOT NULL,
    description text NOT NULL,
    initial_snapshot jsonb
);


ALTER TABLE public.dag_applicationtype OWNER TO cuckoo;

--
-- Name: dag_applicationtype_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.dag_applicationtype ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.dag_applicationtype_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dag_task; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.dag_task (
    id bigint NOT NULL,
    index text NOT NULL,
    workload_cycles bigint NOT NULL,
    initial_snapshot jsonb,
    application_type_id_id bigint,
    task_type_id_id bigint
);


ALTER TABLE public.dag_task OWNER TO cuckoo;

--
-- Name: dag_task_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.dag_task ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.dag_task_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dag_taskdependency; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.dag_taskdependency (
    id bigint NOT NULL,
    initial_snapshot jsonb,
    child_task_id_id bigint,
    parent_task_id_id bigint
);


ALTER TABLE public.dag_taskdependency OWNER TO cuckoo;

--
-- Name: dag_taskdependency_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.dag_taskdependency ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.dag_taskdependency_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dag_tasktype; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.dag_tasktype (
    id bigint NOT NULL,
    name text NOT NULL,
    description text,
    size bigint NOT NULL,
    initial_snapshot jsonb
);


ALTER TABLE public.dag_tasktype OWNER TO cuckoo;

--
-- Name: dag_tasktype_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.dag_tasktype ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.dag_tasktype_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO cuckoo;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO cuckoo;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO cuckoo;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO cuckoo;

--
-- Name: execution_taskexecution; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.execution_taskexecution (
    id bigint NOT NULL,
    start_time timestamp with time zone NOT NULL,
    end_time timestamp with time zone,
    exec_time double precision,
    energy double precision NOT NULL,
    initial_snapshot jsonb,
    application_id_id bigint,
    sp_id_id bigint NOT NULL,
    task_id_id bigint
);


ALTER TABLE public.execution_taskexecution OWNER TO cuckoo;

--
-- Name: execution_taskexecution_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.execution_taskexecution ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.execution_taskexecution_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: object_rsu; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.object_rsu (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    x_coord double precision NOT NULL,
    y_coord double precision NOT NULL,
    cpu_capacity bigint NOT NULL,
    cache_capacity bigint NOT NULL,
    is_active boolean NOT NULL,
    initial_snapshot jsonb
);


ALTER TABLE public.object_rsu OWNER TO cuckoo;

--
-- Name: object_rsu_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.object_rsu ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.object_rsu_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: object_rsuvehicle; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.object_rsuvehicle (
    id bigint NOT NULL,
    start_time timestamp with time zone NOT NULL,
    end_time timestamp with time zone,
    connect_time double precision,
    is_current boolean NOT NULL,
    initial_snapshot jsonb,
    rsu_id_id bigint,
    vehicle_id_id bigint
);


ALTER TABLE public.object_rsuvehicle OWNER TO cuckoo;

--
-- Name: object_rsuvehicle_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.object_rsuvehicle ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.object_rsuvehicle_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: object_serviceprovider; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.object_serviceprovider (
    id bigint NOT NULL,
    type character varying(20) NOT NULL,
    initial_snapshot jsonb,
    rsu_id_id bigint,
    vehicle_id_id bigint
);


ALTER TABLE public.object_serviceprovider OWNER TO cuckoo;

--
-- Name: object_serviceprovider_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.object_serviceprovider ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.object_serviceprovider_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: object_vehicle; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.object_vehicle (
    id bigint NOT NULL,
    plate character varying(100) NOT NULL,
    path jsonb NOT NULL,
    x_coord double precision NOT NULL,
    y_coord double precision NOT NULL,
    speed double precision NOT NULL,
    length double precision NOT NULL,
    cpu_capacity bigint NOT NULL,
    cache_capacity bigint NOT NULL,
    is_mission boolean NOT NULL,
    initial_snapshot jsonb
);


ALTER TABLE public.object_vehicle OWNER TO cuckoo;

--
-- Name: object_vehicle_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.object_vehicle ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.object_vehicle_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: parameter_parameter; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.parameter_parameter (
    id bigint NOT NULL,
    key character varying(64) NOT NULL,
    value jsonb NOT NULL,
    unit character varying(16) NOT NULL,
    value_type character varying(16) NOT NULL
);


ALTER TABLE public.parameter_parameter OWNER TO cuckoo;

--
-- Name: parameter_parameter_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.parameter_parameter ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.parameter_parameter_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: resource_resource; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.resource_resource (
    id bigint NOT NULL,
    cpu_used bigint NOT NULL,
    cache_used bigint NOT NULL,
    initial_snapshot jsonb,
    sp_id_id bigint NOT NULL
);


ALTER TABLE public.resource_resource OWNER TO cuckoo;

--
-- Name: resource_resource_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.resource_resource ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.resource_resource_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: state_state; Type: TABLE; Schema: public; Owner: cuckoo
--

CREATE TABLE public.state_state (
    id bigint NOT NULL,
    time_step bigint NOT NULL,
    gain double precision NOT NULL,
    distance double precision NOT NULL,
    rate double precision NOT NULL,
    initial_snapshot jsonb,
    from_vehicle_id_id bigint,
    task_execution_id_id bigint,
    to_rsu_id_id bigint,
    to_vehicle_id_id bigint
);


ALTER TABLE public.state_state OWNER TO cuckoo;

--
-- Name: state_state_id_seq; Type: SEQUENCE; Schema: public; Owner: cuckoo
--

ALTER TABLE public.state_state ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.state_state_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: application_application; Type: TABLE DATA; Schema: public; Owner: cuckoo
--

COPY public.application_application (id, start_at, end_at, is_progress, initial_snapshot, application_type_id_id, vehicle_id_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: cuckoo
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: cuckoo
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: cuckoo
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: cuckoo
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: cuckoo
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: cuckoo
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: cache_cache; Type: TABLE DATA; Schema: public; Owner: cuckoo
--

COPY public.cache_cache (id, initial_snapshot, sp_id_id, task_type_id_id) FROM stdin;
\.


--
-- Data for Name: dag_applicationtype; Type: TABLE DATA; Schema: public; Owner: cuckoo
--

COPY public.dag_applicationtype (id, name, deadline, description, initial_snapshot) FROM stdin;
36	app_type_30ms	30	Tddl_n=30ms	\N
37	app_type_40ms	40	Tddl_n=40ms	\N
38	app_type_50ms	50	Tddl_n=50ms	\N
39	app_type_60ms	60	Tddl_n=60ms	\N
40	app_type_70ms	70	Tddl_n=70ms	\N
41	app_type_80ms	80	Tddl_n=80ms	\N
42	app_type_90ms	90	Tddl_n=90ms	\N
43	app_type_100ms	100	Tddl_n=100ms	\N
\.


--
-- Data for Name: dag_task; Type: TABLE DATA; Schema: public; Owner: cuckoo
--



--
-- Data for Name: dag_taskdependency; Type: TABLE DATA; Schema: public; Owner: cuckoo
--



--
-- Data for Name: dag_tasktype; Type: TABLE DATA; Schema: public; Owner: cuckoo
--

COPY public.dag_tasktype (id, name, description, size, initial_snapshot) FROM stdin;
44	tt_100kb	Dn,ij=100kb	12500	\N
45	tt_120kb	Dn,ij=120kb	15000	\N
46	tt_140kb	Dn,ij=140kb	17500	\N
47	tt_160kb	Dn,ij=160kb	20000	\N
48	tt_180kb	Dn,ij=180kb	22500	\N
49	tt_200kb	Dn,ij=200kb	25000	\N
50	tt_220kb	Dn,ij=220kb	27500	\N
51	tt_240kb	Dn,ij=240kb	30000	\N
52	tt_260kb	Dn,ij=260kb	32500	\N
53	tt_300kb	Dn,ij=300kb	37500	\N
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: cuckoo
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: cuckoo
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	parameter	parameter
8	application	application
9	cache	cache
10	dag	taskdependency
11	dag	task
12	dag	applicationtype
13	dag	tasktype
14	execution	taskexecution
15	object	vehicle
16	object	rsu
17	object	rsuvehicle
18	object	serviceprovider
19	resource	resource
20	state	state
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: cuckoo
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: cuckoo
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: execution_taskexecution; Type: TABLE DATA; Schema: public; Owner: cuckoo
--

COPY public.execution_taskexecution (id, start_time, end_time, exec_time, energy, initial_snapshot, application_id_id, sp_id_id, task_id_id) FROM stdin;
\.


--
-- Data for Name: object_rsu; Type: TABLE DATA; Schema: public; Owner: cuckoo
--

COPY public.object_rsu (id, name, x_coord, y_coord, cpu_capacity, cache_capacity, is_active, initial_snapshot) FROM stdin;
1	1	10	250	10000	20000	f	{"name": "1", "x_coord": 10.0, "y_coord": 250.0, "is_active": false, "cpu_capacity": 10000, "cache_capacity": 20000}
\.


--
-- Data for Name: object_rsuvehicle; Type: TABLE DATA; Schema: public; Owner: cuckoo
--

COPY public.object_rsuvehicle (id, start_time, end_time, connect_time, is_current, initial_snapshot, rsu_id_id, vehicle_id_id) FROM stdin;
5	2026-04-19 10:56:06.972508+00	2026-04-19 10:58:06.972508+00	\N	f	\N	1	1
\.


--
-- Data for Name: object_serviceprovider; Type: TABLE DATA; Schema: public; Owner: cuckoo
--

COPY public.object_serviceprovider (id, type, initial_snapshot, rsu_id_id, vehicle_id_id) FROM stdin;
1	rsu	{"type": "rsu", "rsu_id": 1, "vehicle_id": 1}	1	1
2	vehicle	\N	\N	1
\.


--
-- Data for Name: object_vehicle; Type: TABLE DATA; Schema: public; Owner: cuckoo
--

COPY public.object_vehicle (id, plate, path, x_coord, y_coord, speed, length, cpu_capacity, cache_capacity, is_mission, initial_snapshot) FROM stdin;
1	1	[[6, 0], [6, 1000]]	6	983.3333333333333	30.000000000000004	1000	1000	200	f	{"path": [[6, 0], [6, 1000]], "plate": "1", "speed": 8.333333333333334, "length": 1000.0, "x_coord": 0, "y_coord": 0, "is_mission": false, "cpu_capacity": 1000, "cache_capacity": 200}
\.


--
-- Data for Name: parameter_parameter; Type: TABLE DATA; Schema: public; Owner: cuckoo
--



--
-- Data for Name: resource_resource; Type: TABLE DATA; Schema: public; Owner: cuckoo
--

COPY public.resource_resource (id, cpu_used, cache_used, initial_snapshot, sp_id_id) FROM stdin;
2	0	0	\N	2
1	0	0	{"sp_id": 1, "cpu_used": 100, "cache_used": 200}	1
\.


--
-- Data for Name: state_state; Type: TABLE DATA; Schema: public; Owner: cuckoo
--

COPY public.state_state (id, time_step, gain, distance, rate, initial_snapshot, from_vehicle_id_id, task_execution_id_id, to_rsu_id_id, to_vehicle_id_id) FROM stdin;
1	30	3.471074227221084e+15	9.884050002121832	1942694370.8018014	{"link": "v2i"}	1	\N	1	\N
2	60	5803503397945.714	241.72510787623565	1758209522.2560863	{"link": "v2i"}	1	\N	1	\N
\.


--
-- Name: application_application_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.application_application_id_seq', 4, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 80, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, false);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: cache_cache_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.cache_cache_id_seq', 1, false);


--
-- Name: dag_applicationtype_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.dag_applicationtype_id_seq', 43, true);


--
-- Name: dag_task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.dag_task_id_seq', 83, true);


--
-- Name: dag_taskdependency_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.dag_taskdependency_id_seq', 98, true);


--
-- Name: dag_tasktype_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.dag_tasktype_id_seq', 53, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 20, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 27, true);


--
-- Name: execution_taskexecution_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.execution_taskexecution_id_seq', 3, true);


--
-- Name: object_rsu_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.object_rsu_id_seq', 1, true);


--
-- Name: object_rsuvehicle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.object_rsuvehicle_id_seq', 5, true);


--
-- Name: object_serviceprovider_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.object_serviceprovider_id_seq', 2, true);


--
-- Name: object_vehicle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.object_vehicle_id_seq', 1, true);


--
-- Name: parameter_parameter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.parameter_parameter_id_seq', 24, true);


--
-- Name: resource_resource_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.resource_resource_id_seq', 2, true);


--
-- Name: state_state_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cuckoo
--

SELECT pg_catalog.setval('public.state_state_id_seq', 2, true);


--
-- Name: application_application application_application_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.application_application
    ADD CONSTRAINT application_application_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: cache_cache cache_cache_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.cache_cache
    ADD CONSTRAINT cache_cache_pkey PRIMARY KEY (id);


--
-- Name: dag_applicationtype dag_applicationtype_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.dag_applicationtype
    ADD CONSTRAINT dag_applicationtype_pkey PRIMARY KEY (id);


--
-- Name: dag_task dag_task_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.dag_task
    ADD CONSTRAINT dag_task_pkey PRIMARY KEY (id);


--
-- Name: dag_taskdependency dag_taskdependency_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.dag_taskdependency
    ADD CONSTRAINT dag_taskdependency_pkey PRIMARY KEY (id);


--
-- Name: dag_tasktype dag_tasktype_name_key; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.dag_tasktype
    ADD CONSTRAINT dag_tasktype_name_key UNIQUE (name);


--
-- Name: dag_tasktype dag_tasktype_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.dag_tasktype
    ADD CONSTRAINT dag_tasktype_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: execution_taskexecution execution_taskexecution_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.execution_taskexecution
    ADD CONSTRAINT execution_taskexecution_pkey PRIMARY KEY (id);


--
-- Name: object_rsu object_rsu_name_key; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.object_rsu
    ADD CONSTRAINT object_rsu_name_key UNIQUE (name);


--
-- Name: object_rsu object_rsu_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.object_rsu
    ADD CONSTRAINT object_rsu_pkey PRIMARY KEY (id);


--
-- Name: object_rsuvehicle object_rsuvehicle_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.object_rsuvehicle
    ADD CONSTRAINT object_rsuvehicle_pkey PRIMARY KEY (id);


--
-- Name: object_serviceprovider object_serviceprovider_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.object_serviceprovider
    ADD CONSTRAINT object_serviceprovider_pkey PRIMARY KEY (id);


--
-- Name: object_vehicle object_vehicle_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.object_vehicle
    ADD CONSTRAINT object_vehicle_pkey PRIMARY KEY (id);


--
-- Name: object_vehicle object_vehicle_plate_key; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.object_vehicle
    ADD CONSTRAINT object_vehicle_plate_key UNIQUE (plate);


--
-- Name: parameter_parameter parameter_parameter_key_key; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.parameter_parameter
    ADD CONSTRAINT parameter_parameter_key_key UNIQUE (key);


--
-- Name: parameter_parameter parameter_parameter_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.parameter_parameter
    ADD CONSTRAINT parameter_parameter_pkey PRIMARY KEY (id);


--
-- Name: resource_resource resource_resource_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.resource_resource
    ADD CONSTRAINT resource_resource_pkey PRIMARY KEY (id);


--
-- Name: state_state state_state_pkey; Type: CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.state_state
    ADD CONSTRAINT state_state_pkey PRIMARY KEY (id);


--
-- Name: application_application_application_type_id_id_025a748d; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX application_application_application_type_id_id_025a748d ON public.application_application USING btree (application_type_id_id);


--
-- Name: application_application_vehicle_id_id_72f89b11; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX application_application_vehicle_id_id_72f89b11 ON public.application_application USING btree (vehicle_id_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: cache_cache_sp_id_id_a061722f; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX cache_cache_sp_id_id_a061722f ON public.cache_cache USING btree (sp_id_id);


--
-- Name: cache_cache_task_type_id_id_3f0ed0f6; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX cache_cache_task_type_id_id_3f0ed0f6 ON public.cache_cache USING btree (task_type_id_id);


--
-- Name: dag_task_application_type_id_id_b72d6bdc; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX dag_task_application_type_id_id_b72d6bdc ON public.dag_task USING btree (application_type_id_id);


--
-- Name: dag_task_task_type_id_id_6b0c0980; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX dag_task_task_type_id_id_6b0c0980 ON public.dag_task USING btree (task_type_id_id);


--
-- Name: dag_taskdependency_child_task_id_id_5270ce9a; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX dag_taskdependency_child_task_id_id_5270ce9a ON public.dag_taskdependency USING btree (child_task_id_id);


--
-- Name: dag_taskdependency_parent_task_id_id_e2ebb70a; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX dag_taskdependency_parent_task_id_id_e2ebb70a ON public.dag_taskdependency USING btree (parent_task_id_id);


--
-- Name: dag_tasktype_name_d2bd1099_like; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX dag_tasktype_name_d2bd1099_like ON public.dag_tasktype USING btree (name text_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: execution_taskexecution_application_id_id_9aa49de2; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX execution_taskexecution_application_id_id_9aa49de2 ON public.execution_taskexecution USING btree (application_id_id);


--
-- Name: execution_taskexecution_sp_id_id_af16328b; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX execution_taskexecution_sp_id_id_af16328b ON public.execution_taskexecution USING btree (sp_id_id);


--
-- Name: execution_taskexecution_task_id_id_334dc919; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX execution_taskexecution_task_id_id_334dc919 ON public.execution_taskexecution USING btree (task_id_id);


--
-- Name: object_rsu_name_e1053c40_like; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX object_rsu_name_e1053c40_like ON public.object_rsu USING btree (name varchar_pattern_ops);


--
-- Name: object_rsuvehicle_rsu_id_id_dad0552d; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX object_rsuvehicle_rsu_id_id_dad0552d ON public.object_rsuvehicle USING btree (rsu_id_id);


--
-- Name: object_rsuvehicle_vehicle_id_id_5e2a1b98; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX object_rsuvehicle_vehicle_id_id_5e2a1b98 ON public.object_rsuvehicle USING btree (vehicle_id_id);


--
-- Name: object_serviceprovider_rsu_id_id_1c8a2e08; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX object_serviceprovider_rsu_id_id_1c8a2e08 ON public.object_serviceprovider USING btree (rsu_id_id);


--
-- Name: object_serviceprovider_vehicle_id_id_0a8e61d1; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX object_serviceprovider_vehicle_id_id_0a8e61d1 ON public.object_serviceprovider USING btree (vehicle_id_id);


--
-- Name: object_vehicle_plate_6220481b_like; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX object_vehicle_plate_6220481b_like ON public.object_vehicle USING btree (plate varchar_pattern_ops);


--
-- Name: parameter_parameter_key_50fe4daa_like; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX parameter_parameter_key_50fe4daa_like ON public.parameter_parameter USING btree (key varchar_pattern_ops);


--
-- Name: resource_resource_sp_id_id_2271b2af; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX resource_resource_sp_id_id_2271b2af ON public.resource_resource USING btree (sp_id_id);


--
-- Name: state_state_from_vehicle_id_id_59492484; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX state_state_from_vehicle_id_id_59492484 ON public.state_state USING btree (from_vehicle_id_id);


--
-- Name: state_state_task_execution_id_id_a08d48dc; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX state_state_task_execution_id_id_a08d48dc ON public.state_state USING btree (task_execution_id_id);


--
-- Name: state_state_to_rsu_id_id_4036e156; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX state_state_to_rsu_id_id_4036e156 ON public.state_state USING btree (to_rsu_id_id);


--
-- Name: state_state_to_vehicle_id_id_69a3ee28; Type: INDEX; Schema: public; Owner: cuckoo
--

CREATE INDEX state_state_to_vehicle_id_id_69a3ee28 ON public.state_state USING btree (to_vehicle_id_id);


--
-- Name: application_application application_applicat_application_type_id__025a748d_fk_dag_appli; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.application_application
    ADD CONSTRAINT application_applicat_application_type_id__025a748d_fk_dag_appli FOREIGN KEY (application_type_id_id) REFERENCES public.dag_applicationtype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: application_application application_applicat_vehicle_id_id_72f89b11_fk_object_ve; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.application_application
    ADD CONSTRAINT application_applicat_vehicle_id_id_72f89b11_fk_object_ve FOREIGN KEY (vehicle_id_id) REFERENCES public.object_vehicle(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cache_cache cache_cache_sp_id_id_a061722f_fk_object_serviceprovider_id; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.cache_cache
    ADD CONSTRAINT cache_cache_sp_id_id_a061722f_fk_object_serviceprovider_id FOREIGN KEY (sp_id_id) REFERENCES public.object_serviceprovider(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cache_cache cache_cache_task_type_id_id_3f0ed0f6_fk_dag_tasktype_id; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.cache_cache
    ADD CONSTRAINT cache_cache_task_type_id_id_3f0ed0f6_fk_dag_tasktype_id FOREIGN KEY (task_type_id_id) REFERENCES public.dag_tasktype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: dag_task dag_task_application_type_id__b72d6bdc_fk_dag_appli; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.dag_task
    ADD CONSTRAINT dag_task_application_type_id__b72d6bdc_fk_dag_appli FOREIGN KEY (application_type_id_id) REFERENCES public.dag_applicationtype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: dag_task dag_task_task_type_id_id_6b0c0980_fk_dag_tasktype_id; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.dag_task
    ADD CONSTRAINT dag_task_task_type_id_id_6b0c0980_fk_dag_tasktype_id FOREIGN KEY (task_type_id_id) REFERENCES public.dag_tasktype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: dag_taskdependency dag_taskdependency_child_task_id_id_5270ce9a_fk_dag_task_id; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.dag_taskdependency
    ADD CONSTRAINT dag_taskdependency_child_task_id_id_5270ce9a_fk_dag_task_id FOREIGN KEY (child_task_id_id) REFERENCES public.dag_task(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: dag_taskdependency dag_taskdependency_parent_task_id_id_e2ebb70a_fk_dag_task_id; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.dag_taskdependency
    ADD CONSTRAINT dag_taskdependency_parent_task_id_id_e2ebb70a_fk_dag_task_id FOREIGN KEY (parent_task_id_id) REFERENCES public.dag_task(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: execution_taskexecution execution_taskexecut_application_id_id_9aa49de2_fk_applicati; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.execution_taskexecution
    ADD CONSTRAINT execution_taskexecut_application_id_id_9aa49de2_fk_applicati FOREIGN KEY (application_id_id) REFERENCES public.application_application(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: execution_taskexecution execution_taskexecut_sp_id_id_af16328b_fk_object_se; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.execution_taskexecution
    ADD CONSTRAINT execution_taskexecut_sp_id_id_af16328b_fk_object_se FOREIGN KEY (sp_id_id) REFERENCES public.object_serviceprovider(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: execution_taskexecution execution_taskexecution_task_id_id_334dc919_fk_dag_task_id; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.execution_taskexecution
    ADD CONSTRAINT execution_taskexecution_task_id_id_334dc919_fk_dag_task_id FOREIGN KEY (task_id_id) REFERENCES public.dag_task(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: object_rsuvehicle object_rsuvehicle_rsu_id_id_dad0552d_fk_object_rsu_id; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.object_rsuvehicle
    ADD CONSTRAINT object_rsuvehicle_rsu_id_id_dad0552d_fk_object_rsu_id FOREIGN KEY (rsu_id_id) REFERENCES public.object_rsu(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: object_rsuvehicle object_rsuvehicle_vehicle_id_id_5e2a1b98_fk_object_vehicle_id; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.object_rsuvehicle
    ADD CONSTRAINT object_rsuvehicle_vehicle_id_id_5e2a1b98_fk_object_vehicle_id FOREIGN KEY (vehicle_id_id) REFERENCES public.object_vehicle(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: object_serviceprovider object_serviceprovid_vehicle_id_id_0a8e61d1_fk_object_ve; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.object_serviceprovider
    ADD CONSTRAINT object_serviceprovid_vehicle_id_id_0a8e61d1_fk_object_ve FOREIGN KEY (vehicle_id_id) REFERENCES public.object_vehicle(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: object_serviceprovider object_serviceprovider_rsu_id_id_1c8a2e08_fk_object_rsu_id; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.object_serviceprovider
    ADD CONSTRAINT object_serviceprovider_rsu_id_id_1c8a2e08_fk_object_rsu_id FOREIGN KEY (rsu_id_id) REFERENCES public.object_rsu(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: resource_resource resource_resource_sp_id_id_2271b2af_fk_object_se; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.resource_resource
    ADD CONSTRAINT resource_resource_sp_id_id_2271b2af_fk_object_se FOREIGN KEY (sp_id_id) REFERENCES public.object_serviceprovider(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: state_state state_state_from_vehicle_id_id_59492484_fk_object_vehicle_id; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.state_state
    ADD CONSTRAINT state_state_from_vehicle_id_id_59492484_fk_object_vehicle_id FOREIGN KEY (from_vehicle_id_id) REFERENCES public.object_vehicle(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: state_state state_state_task_execution_id_id_a08d48dc_fk_execution; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.state_state
    ADD CONSTRAINT state_state_task_execution_id_id_a08d48dc_fk_execution FOREIGN KEY (task_execution_id_id) REFERENCES public.execution_taskexecution(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: state_state state_state_to_rsu_id_id_4036e156_fk_object_rsu_id; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.state_state
    ADD CONSTRAINT state_state_to_rsu_id_id_4036e156_fk_object_rsu_id FOREIGN KEY (to_rsu_id_id) REFERENCES public.object_rsu(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: state_state state_state_to_vehicle_id_id_69a3ee28_fk_object_vehicle_id; Type: FK CONSTRAINT; Schema: public; Owner: cuckoo
--

ALTER TABLE ONLY public.state_state
    ADD CONSTRAINT state_state_to_vehicle_id_id_69a3ee28_fk_object_vehicle_id FOREIGN KEY (to_vehicle_id_id) REFERENCES public.object_vehicle(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

